{# CONTAINERLABS custom interface mapping rendering #}
{# If customer interface mapping is true create a mapping between the linux interface and the custom mapping in EOS #}
{% set ma_mapping_switch={} -%} 
{% set eth_mapping_switch={} -%} 
{% set fabric_switch_facts = hostvars[inventory_hostname] | arista.avd.default -%}
{% if fabric_switch_facts.management_interfaces is arista.avd.defined %}
{%     set ns = namespace(first_entry=true) -%}   
{%     for mgmt_int in fabric_switch_facts.management_interfaces if ns.first_entry %}
{%         if mgmt_int.type is arista.avd.defined and mgmt_int.type == 'oob' %}
{%             do ma_mapping_switch.update({ 'eth0':mgmt_int.name }) -%}
{%             set ns.first_entry=false -%}
{%         endif %}
{%     endfor %}  
{% endif %}
{% for link in fabric_switch_facts.ethernet_interfaces | arista.avd.natural_sort %}
{%     do eth_mapping_switch.update({ 'eth' + loop.index | string:link.name }) -%}
{% endfor %}
{% set mapping_switch_all={'ManagementIntf':ma_mapping_switch} -%} 
{% do mapping_switch_all.update({'EthernetIntf':eth_mapping_switch}) -%} 
{{ mapping_switch_all | to_nice_json }}
