{# CONTAINERLABS clab vxlan commands #}
#!/bin/bash

{% for connection in connections_per_host[inventory_hostname]['local_vx_clab_tools_cmd'] %}
ip link delete {{ (connection | split('--link'))[1] | trim }}
ip link delete vx-{{ (connection | split('--link'))[1] | trim }}
{% endfor %}
{% for connection in connections_per_host[inventory_hostname]['local_vx_con'] %}
{%     if 'dummy' in connection[(connection.keys() | list)[1]] %}
ip link delete {{ ((connection.keys() | list)[1] | split(':'))[1] }}-{{ connection[(connection.keys() | list)[1]] }}
{%     endif %}
{% endfor %}
