
{%- set tmp_node_list = [] -%}
{%- set ns3 = namespace(include_non_avd_nodes = false) -%} 
{%- for docker_node in groups['CONTAINERLAB'] -%}
{%-     if loop.first -%}
{%-         set ns3.include_non_avd_nodes = inventory_vars["all"]["children"]["CONTAINERLAB"]["vars"]["containerlab_include_non_avd_nodes"] | default('false') | bool -%}
{%-     endif -%} 
{%- endfor -%}  
{%-     if ns3.include_non_avd_nodes -%}
{%-       for fabric_switch in ansible_play_hosts_all | arista.avd.natural_sort if hostvars[fabric_switch].ethernet_interfaces is arista.avd.defined -%}
{%-         set parentloop = loop -%}
{%-         set fabric_switch_facts = hostvars[fabric_switch] | arista.avd.default -%}
{%-         for link in fabric_switch_facts.ethernet_interfaces | arista.avd.natural_sort -%}
{%-           if link.peer is arista.avd.defined and link.peer_interface is arista.avd.defined %}
{#              LINKS to endpoints #}
{%-             if link.peer not in ansible_play_hosts_all -%}
{%-               if link.peer not in tmp_node_list -%}
{%-                 do tmp_node_list.append(link.peer) -%}
{%-               endif -%}
{%-             endif -%}
{%-           endif -%}  
{%-         endfor -%}  
{%-       endfor -%}  
{%-     endif -%} 
{{ { 'nodes': ansible_play_hosts_all + tmp_node_list} | to_nice_yaml }}